<nav class="navbar bg-primary navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://images-platform.99static.com//tfdQViA1WGorHjnrPEj0Mr7jX-U=/274x274:1654x1654/fit-in/500x500/99designs-contests-attachments/96/96680/attachment_96680655" alt="..."   width="40" height="40" class="d-inline-block align-text-top">
        Toystories
      </a>
    </div>
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <nav class="navbar navbar-expand-lg bg-primary navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Toys</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/">Index</a>
                  </li>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/images">Images</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/addtocart">Add to Cart</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active"  aria-current="page" routerLink="/login">Login</a>
              </li>
            
             
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    </div>
</nav>
